<%= semantic_form_for([:account, :setup_module, :organization_setup, @branch], :html => { :class => "form-horizontal" }) do |branch_f| %>
  <%= branch_f.semantic_errors %>
  <div class="well">
	<%= branch_f.input :concept_id, :as => :select, :collection => Concept.all.map{ |b| [ b.name, b.id ] } %>
    <%= branch_f.input :name %>
    <%= branch_f.input :address %>
    <%= branch_f.input :contact_number %>
  </div>
  <%= link_to "Cancel".html_safe, account_setup_module_organization_setup_concepts_path, :class => 'btn' %>
  <%= branch_f.submit "Submit", :class => 'btn btn-light-blue large' %>
<% end %>