<%= render :partial => "/account/setup_module/inventory_setup/partials/container_header" %>
        <div class="container-fluid">
	      <div class="btn-toolbar">
          <% if can? :create, Item %>	
        	<div class="btn-group pull-right">
			      <a href="<%= new_account_setup_module_inventory_setup_item_path %>" class="btn btn-light-blue">
			        <i class="icon-plus icon-white"></i> Create New Item
			      </a>
			    </div>
			    <% end %>
			
			<div class="btn-group btns-export pull-right">
			  <a href="javascript:{}" onclick="<%= export_to_csv_javascript(@items_grid) %>" class="btn"><i class="icon-file"></i> Export to CSV</a>
			  <a href="javascript:{}" onclick="<%= export_to_csv_javascript(@items_grid) %>" class="btn"><i class="icon-file"></i> Export to PDF</a>
			</div>
		  </div>
        </div>
        <br/>
		<%= grid(@items_grid, :class => "row-fluid") do |g|
			g.action_column
			
			g.column :column_name => "Name",  :attribute_name => "name" do |item|
    			item.name
  			end

			g.column :column_name => "Subcategory", :model_class => "Subcategory", :attribute_name => "name" do |item|
    			item.subcategory.name
  			end

            g.column :column_name => "Quantity", :attribute_name => "quantity" do |item|
    			item.quantity
  			end

            g.column :column_name => "Unit", :model_class => "Unit", :attribute_name => "name" do |item|
    			item.unit.name
  			end

  			g.column :column_name => "Restaurant",  :model_class => "Concept", :attribute_name => "name" do |item|
    			item.concept.name
  			end

  			g.column do |item|
    			link_to "<i class='icon-eye-open'></i> View".html_safe, account_setup_module_inventory_setup_item_path(item), :class => "btn btn-mini"
  			end
        if can? :edit, Item
    			g.column do |item|
				    link_to "<i class='icon-edit'></i> Edit".html_safe, edit_account_setup_module_inventory_setup_item_path(item), :class => "btn btn-mini"
    			end
        end
        
        if can? :delete, Item
    			g.column do |item|
				    link_to "<i class='icon-trash icon-white'></i> Delete".html_safe, account_setup_module_inventory_setup_item_path(item), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini btn-danger"
    			end
        end
        
		end -%>

		<%= include_wice_grid_assets %>
		
<%= render :partial => "/account/setup_module/inventory_setup/partials/container_footer" %>
