<%= render :partial => "/account/setup_module/inventory_setup/partials/container_header" %>
<div class="container">
<h2>Item</h2>
<div class="well">
  <h3>Item Information</h3>
  <dl class="dl-horizontal">
	<dt>ID</dt>
    <dd><%= @client.id %></dd>
    <dt>Name</dt>
    <dd><%= @client.name %></dd>
    <dt>Address</dt>
    <dd><%= @client.address %></dd>
	<dt>Contact Number</dt>
    <dd><%= @client.contact_number %></dd>
  </dl>
</div>

<%= link_to "Edit", edit_account_setup_module_organization_setup_client_path, :class => 'btn' %>
<%= link_to "Delete", account_setup_module_organization_setup_client_path(@client), :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %>

</div>
<br/>
<%= render :partial => "/account/setup_module/inventory_setup/partials/container_footer" %>