<%= semantic_form_for([:account, :setup_module, :organization_setup, @concept], :html => { :class => "form-horizontal" }) do |concept_f| %>
  <%= concept_f.semantic_errors %>
  <div class="well">
	<%= concept_f.input :client_id, :as => :select, :collection => Client.all.map{ |b| [ b.name, b.id ] } %>
    <%= concept_f.input :name %>
    <%= concept_f.input :address %>
    <%= concept_f.input :contact_number %>
  </div>
  <%= link_to "Cancel".html_safe, account_setup_module_organization_setup_concepts_path, :class => 'btn' %>
  <%= concept_f.submit "Submit", :class => 'btn btn-light-blue large' %>
<% end %>