<%= render :partial => "/account/inventory_module/partials/container_header" %>
        <div class="container-fluid">
	      <div class="btn-toolbar">
        	<div class="btn-group pull-right">
			  <a href="<%= new_account_setup_module_organization_setup_branch_path %>" class="btn btn-light-blue">
			    <i class="icon-plus icon-white"></i> Create New Branch
			  </a>
			</div>
			<div class="btn-group btns-export pull-right">
			  <a href="javascript:{}" onclick="<%= export_to_csv_javascript(@branches_grid) %>" class="btn"><i class="icon-file"></i> Export to CSV</a>
			  <a href="javascript:{}" onclick="<%= export_to_csv_javascript(@branches_grid) %>" class="btn"><i class="icon-file"></i> Export to PDF</a>
			</div>
		  </div>
        </div>
        <br/>
		<%= grid(@branches_grid, :class => "row-fluid") do |g|
			g.action_column

  			g.column :column_name => "Name", :attribute_name => "name" do |branch|
    			branch.name
  			end

  			g.column :column_name => "Address", :attribute_name => "address" do |branch|
    			branch.address
  			end

  			g.column :column_name => "Contact Number", :attribute_name => "contact_number" do |branch|
    			branch.contact_number
  			end

			g.column :column_name => "Restaurant", :model_class => "Concept", :attribute_name => "name" do |branch|
    			branch.concept.name
  			end

			g.column :column_name => "Company", :model_class => "Client", :attribute_name => "name" do |branch|
    			branch.client.name
  			end

  			g.column do |branch|
    			link_to "<i class='icon-eye-open'></i> View".html_safe, account_setup_module_organization_setup_branch_path(branch), :class => "btn btn-mini"
  			end

  			g.column do |branch|
				link_to "<i class='icon-edit'></i> Edit".html_safe, edit_account_setup_module_organization_setup_branch_path(branch), :class => "btn btn-mini"
  			end

  			g.column do |branch|
				link_to "<i class='icon-trash icon-white'></i> Delete".html_safe, account_setup_module_organization_setup_branch_path(branch), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini btn-danger"
  			end

		end -%>

		<%= include_wice_grid_assets %>
<%= render :partial => "/account/inventory_module/partials/container_header" %>