<%= render :partial => "/account/setup_module/organization_setup/partials/container_header" %>
<div class="container">
<h2>Role</h2>
<div class="well">
  <h3>Role Information</h3>
  <dl class="dl-horizontal">
    <dt>Name</dt>
      <dd><%= @role.name %></dd>
  </dl>
</div>

<%= link_to "<i class='icon-chevron-left'></i> Back to Roles".html_safe, account_setup_module_organization_setup_roles_path, :class => 'btn' %>
<%= link_to "<i class='icon-trash icon-white'></i> Delete".html_safe, account_setup_module_organization_setup_role_path(@role), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' %>
<%= link_to "<i class='icon-edit'></i> Edit".html_safe, edit_account_setup_module_organization_setup_role_path, :class => 'btn' %>
</div>
<br/>
<%= render :partial => "/account/setup_module/organization_setup/partials/container_footer" %>