<%= render :partial => "/account/setup_module/sales_setup/partials/container_header" %>
        <div class="container-fluid">
	      <div class="btn-toolbar">
		    <div class="btn-group pull-right">
			  <a href="<%= new_account_setup_module_sales_setup_sale_category_path %>" class="btn btn-light-blue">
			    <i class="icon-plus icon-white"></i> Create New Category
			  </a>
			</div>
			
		    <div class="btn-group btns-export pull-right">
			  <a href="javascript:{}" onclick="<%= export_to_csv_javascript(@sale_categories_grid) %>" class="btn"><i class="icon-file"></i> Export to CSV</a>
			  <a href="javascript:{}" onclick="<%= export_to_csv_javascript(@sale_categories_grid) %>" class="btn"><i class="icon-file"></i> Export to PDF</a>
			</div>
		  </div>
        </div>
        <br/>
		<%= grid(@sale_categories_grid, :class => "row-fluid", :hide_csv_button => true) do |g|
			g.action_column
			
			g.column :column_name => "Name", :attribute_name => "name" do |sale_category|
    			sale_category.name
  			end

			g.column :column_name => "Restaurant", :model_class => "Concept", :attribute_name => "name" do |sale_category|
    			sale_category.concept.name
  			end

  			g.column do |sale_category|
    			link_to "<i class='icon-eye-open'></i> View".html_safe, account_setup_module_sales_setup_sale_category_path(sale_category), :class => "btn btn-mini"
  			end

  			g.column do |sale_category|
				link_to "<i class='icon-edit'></i> Edit".html_safe, edit_account_setup_module_sales_setup_sale_category_path(sale_category), :class => "btn btn-mini"
  			end

  			g.column do |sale_category|
				link_to "<i class='icon-trash icon-white'></i> Delete".html_safe, account_setup_module_sales_setup_sale_category_path(sale_category), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini btn-danger"
  			end

		end -%>

		<%= include_wice_grid_assets %>
		
<%= render :partial => "/account/setup_module/sales_setup/partials/container_footer" %>
