<%= render :partial => "/account/reports_module/partials/container_header" %>
        <div class="container-fluid">
	      <div class="btn-toolbar">
        	<div class="btn-group pull-right">
			</div>
			<div class="btn-group btns-export pull-right">
			  <%= link_to "<i class='icon-file'></i> Export to CSV ".html_safe, account_reports_module_purchases_reports_path(params.merge(format: 'csv')), :class => "btn" %>
			  <a href="javascript:{}" onclick="<%= export_to_csv_javascript(@purchase_items_grid) %>" class="btn"><i class="icon-file"></i> Export to PDF</a>
			</div>
		  </div>
        </div>
        <br/>
		<%= grid(@purchase_items_grid, :class => "row-fluid") do |g|
			
			g.column :column_name => "Branch", :model_class => "Purchase", :attribute_name => "branch_id", :custom_filter => Branch.find(:all).map{ |b| [b.name, b.id] } do |purchase_item|
				purchase_item.purchase.branch.name
			end
			
  			g.column :column_name => "Name", :model_class => "Item", :attribute_name => "name" do |purchase_item|
    			purchase_item.item.name
  			end

			g.column :column_name => "Subcategory", :model_class => "Item", :attribute_name => "subcategory_id", :custom_filter => Subcategory.find(:all).map{ |b| [b.name, b.id] } do |purchase_item|
    			purchase_item.item.subcategory.name
  			end

			g.column :column_name => "Invoice Number", :model_class => "Purchase", :attribute_name => "invoice_number" do |purchase_item|
    			purchase_item.purchase.invoice_number
  			end

			g.column :column_name => "Supplier", :model_class => "Purchase", :attribute_name => "supplier_id", :custom_filter => Supplier.find(:all).map{ |b| [b.name, b.id] } do |purchase_item|
    			purchase_item.purchase.supplier.name
  			end

			g.column :column_name => "Purchase Date", :model_class => "Purchase", :attribute_name => "purchase_date", :auto_reload => true do |purchase_item|
    			purchase_item.purchase.purchase_date
  			end

			g.column :column_name => "Particulars", :attribute_name => "particulars" do |purchase_item|
    			purchase_item.particulars
  			end

			g.column :column_name => "Quantity", :attribute_name => "quantity", :class => "right-align" do |purchase_item|
    			purchase_item.quantity
  			end

			g.column :column_name => "Unit", :model_class => "Unit", :attribute_name => "name" do |purchase_item|
    			purchase_item.unit.name
  			end

			g.column :column_name => "Unit Price", :attribute_name => "unit_price", :class => "right-align" do |purchase_item|
    			number_to_currency(purchase_item.unit_price, :unit => "P")
  			end

			g.column :column_name => "VAT Type", :attribute_name => "vat_type" do |purchase_item|
    			purchase_item.vat_type
  			end

			g.column :column_name => "Purchase Amount", :attribute_name => "amount", :class => "right-align" do |purchase_item|
    			number_to_currency(purchase_item.amount, :unit => "P")
  			end

			#g.column :column_name => "Total Amount (PHP)", :attribute_name => "amount", :class => "right-align" do |purchase_item|
    		#	purchase_item.amount
  			#end

			g.after_row do |purchase_item|
				if purchase_item == @purchase_items_grid.resultset.last
				   @purchase_items_grid.resultset.map(&:amount).sum.to_s
				  content = content_tag( :td, "Total", :colspan => 10) + content_tag( :td, number_to_currency(@purchase_items_grid.resultset.map(&:amount).sum.to_s, :unit => "P") ) + content_tag( :td, "")
				  content_tag(:tr,
				     content_tag(:td, content),
				     :class => 'extra_row font-size-18 bold-font right-align'
				  )
				end
			end

		end -%>

		<%= include_wice_grid_assets %>
<%= render :partial => "/account/reports_module/partials/container_footer" %>

<script>

$(function(){
	// Date time picker loader
	$(".datetimepicker").datetimepicker();
});

</script>
