<%= semantic_form_for([:account, :setup_module, :inventory_setup, @category], :html => { :class => "form-horizontal" }) do |category_f| %>
  <%= category_f.semantic_errors %>
  <div class="well">
	<%= category_f.input :concept_id, :as => :select, :collection => Concept.all.map{ |b| [ b.name, b.id ] } %>
    <%= category_f.input :name %>
    <%= category_f.input :description %>
  </div>
  <%= link_to "Cancel".html_safe, account_setup_module_inventory_setup_categories_path, :class => 'btn' %>
  <%= category_f.submit "Submit", :class => 'btn btn-light-blue large' %>
<% end %>